.idea
.pytest_cache
.coverage
__pycache__/
.spyproject/
tmp.txt
debug.py
.vscode/
tests/__pycache__/
tests/old/
img/*.pptx
img/*.ppt

## for installation and Pypi upload
build/*
dist/*
nerea.egg-info/*
.pypirc

## debugging
debug/*

## docstrings with Sphinx
source/*
make.bat
Makefile
