name: Deploy to TestPyPI

on:
  release:
    types: [published]

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the code
      uses: actions/checkout@v3
      with:
        ref: 'main'

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip build twine
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install pytest

    - name: Set PYTHONPATH
      run: echo "PYTHONPATH=$PWD" >> $GITHUB_ENV

    - name: Run tests
      run: |
        pip install pytest
        pytest tests

    - name: Build the package
      run: |
        pip install setuptools wheel twine build
        python -m build

    - name: Publish to TestPyPI
      if: success()
      env:
        TWINE_USERNAME: "__token__"
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_NEREA_TOKEN }}
      run: |
        pip install twine
        twine upload --repository testpypi dist/*
