name: Run Tests merging to Versioned Branches

on:
  push:
    branches:
      - 'v*'  # Matches any branch that starts with 'v'
  pull_request:
    branches:
      - 'v*'  # triggers on PRs targeting any branch starting with v

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Set PYTHONPATH
      run: echo "PYTHONPATH=$PWD" >> $GITHUB_ENV

    - name: Run tests
      run: |
        pip install pytest
        pytest --cov=nerea --cov-report=xml --cov-report=term-missing'

    - name: Upload coverage report to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
        flags: unittests
        name: ${{ github.ref_name }}
        fail_ci_if_error: true
